<div class="language-switcher">

  {{ range .AllTranslations }}
    <a class="lang-link">
        neo-0007     
    </a>
  {{ end }}
</div>

<style>
  .header {
    position: relative;
  }

  .language-switcher {
    position: absolute;
    top: 3.5rem;          
    left: 40%;
    transform: translateX(250px); 
    z-index: 50;

    display: flex;
    gap: 0.4rem;
    font-size: 0.9rem;
  }

  .lang-link {
    text-decoration: none;
    color: var(--primary);
    opacity: 0.7;
  }

  .lang-link.active-lang {
    font-weight: 700;
    opacity: 1;
  }

  @media (max-width: 700px) {
    .language-switcher {
      top: 0.4rem;
      left: auto;
      right: 1rem;
      transform: none;
      font-size: 0.85rem;
    }
  }
</style>